@import url("../../App.css");
.blogEditor{
    display: flex;
    background-color: white  ;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: black;
    padding: 2rem;
}
select{
    border:1px solid var(--primaryColor );
    padding: .7rem
}
option{
    background-color: var(--extraColor);
    color : black
}
#inputTitle{
    width: 65rem;
    color: black;
}
#inputContent{
    width: 65rem;
    height: 20rem;
    resize: none;
    color: black;
}
#publish-btn{
    outline-color: var(--primaryColor) !important;
    border: 1px solid var(--primaryColor);
    background-color: var(--linkColor);
}