@import url("../../App.css");
.blogEditor{
    display: flex;
    background-color: white  ;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    color: black;
    padding: 1rem;
}
.title{
    width: 100%;
    min-height: 4rem;
    /* background-color: red; */
    font-size: 3rem;
    font-weight: 600;
    
}
.title:focus{
    outline: none;
    color: black;
}
.title:empty::before{
    content: attr(data-placeholder);
    color: gainsboro;
}
.paragraph{
    padding: 1rem;
    font-size: 1.7rem;
    width: 100%;
    min-height: 20rem;
}
.paragraph:focus{
    outline: none;
    color: black;
}
.paragraph:empty::before{
    content: attr(data-placeholder);
    color: gainsboro;
}
.btn{
    background-color:var(--linkColor);
    width: 100%;
    color: white;
}
.btn-publish:hover{
    border: 1px solid var(--linkColor);
    font-weight: 600;
    color: var(--linkColor);
}
#visibility-select {
    margin: .3rem;
    width: 6rem;
    background-color:white ;
    border: 1px solid var(--extraColor);
    padding: .4rem;
    /* color:white; */
    border-radius: 2rem;
}
#visibility-select:hover{
    background-color:var(--extraColor    );
    color:black     ;
}
.selections{
    width: 100%;
    /* display: flex; */
    /* justify-content: flex-start; */
}