@import url("../../App.css");
.customCardDesign{
    /* background-color: var(--extraStuffColor); */
    outline: .5px solid gainsboro;
}
.card-header{
    background-color: var(--primaryColor);
    /* color: var(--secondaryColor); */
}
.card-body{
    background-color: var(--secondaryDark);
    color: black;
}
.card-title{
    font-size: 2rem;
    /* color: rgb(72, 16, 16); */
}
.card-title a{
    color: var(--linkColor);
   
}
.like{
    /* background-color: red; */
    display: inline-block;
}
.likesCount{
    color: gainsboro;
}
.commentCount{
    color: gainsboro;
} 
.postFooter{
    display: flex;
    gap: 1rem;
    padding: 0 .4rem 0 .4rem;
    background-color: var(--secondaryColor);
}
.right button {
    margin-left: 1rem;
}