@import "tailwindcss";
:root{
    --primarydark: #131313;
    --secondaryDark : #252525;
}
body{
    background-color: var(--secondaryDark);
    overflow-x:hidden ;
}
.links, .btn-nav:hover{
    text-decoration: none;
    color: white;
    padding: .4rem;
    border-radius: 1rem;
    display: inline-block;
    /* width: 8rem; */
    text-align: center;
    font-weight: 400;
    width: 3rem;
}

.links:hover, .btn-nav:hover{
    background-color: rgba(216, 216, 216, 0.26);
    
}
.btn-nav{
    background-color: transparent;
    color: wheat;
    width: 3rem;
    padding: .4rem;
}
.navbar{
    background-color: var(--primarydark);
    color: white;
}
.logo{
    
        font-family: "Bonheur Royale", serif;
        font-weight: 400;
        font-style: normal;
      font-size: 2rem;
      
}
